<div class="blurred" ng-class="vm.currencyClass">
    <div class="content-img">
        <img src="{{img}}" alt="dolar" class="img-circle"/>
    </div>

    <div class="content-title">
        <h1>{{name}}
            <small ng-if="sub">({{sub}})</small>
        </h1>
    </div>

    <p class="lead"></p>

    <div class="content-currency">
        <div class="curr-content">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">{{symbol}}</span>
                <input type="text" class="form-control" ng-model="vm.currency" ng-change="vm.calculate()" name="currency" ui-number-mask="2" min="0">
            </div>
        </div>

        <button ng-click="vm.reset()" class="btn btn-mini" type="button" title="Resetar"><i class="glyphicon glyphicon-refresh"></i></button>

        <div class="curr-content">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">R$</span>
                <input type="text" class="form-control" ng-model="vm.real" ng-change="vm.calculate(true)" name="real" ui-number-mask="{{vm.decimals}}" min="0">
            </div>
        </div>
    </div>

</div>